@use "../../styles/mixins";
@use "../../styles/typography";
@use "../../styles/button-themes" as *;
@use "../Button/base.module" as *;

.root {
  display: none;

  @include mixins.lg {
    display: block;
  }
}

.popover {
  position: absolute;
  right: 0.5rem;
  top: 3rem;
  width: 100%;
  max-width: 30rem;
  min-width: 15rem;

  &:focus {
    outline: none;
  }
}

.container {
  min-width: auto;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  background: var(--header-menu-bg);
  border-radius: var(--radius-xxl);
  box-shadow: var(--header-menu-shadow);

  @include mixins.lg {
    overflow: hidden;
    margin-top: 1px;
    padding: 1rem;
  }

  [data-enter] & {
    opacity: 1;
  }
}

.button {
  @include button;
  @include typography.icon;
  @include themes;

  padding: 0;
  min-width: unset;
  width: 3rem;
  height: 3rem;

  &::before {
    content: "\e602";
  }

  &__open {
    color: var(--primary-color);
  }

  &__is_small {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
